<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="context" connectionString="Server=2f34b6f1-9038-45f1-ba22-a06c000910d0.sqlserver.sequelizer.com;Database=db2f34b6f1903845f1ba22a06c000910d0;User ID=edqcdhbjvgfttssv;Password=nq7A6XeeARQPT5HLixyoWun38XLtGbtfKBHpfqoteJLyJvK5NHLvrDc2deBhmSDy;"/>
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>